<% 
// album
    const {
        items: albumItems
    } = locals.albums
%>


<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/head', {title: `${locals.title} | Spotify` }) %>

    <% if (locals.isArtistAlbum) { %>
        <style>
            .card .card-text { text-transform: capitalize;}
        </style>
    <% } %>

    <link rel="stylesheet" href="/css/explore.css">
</head>

<body>

    <!--
      - #RECENTLY PLAYED
    -->

    <%- include("../layouts/recent-played", { recentlyPlayed: locals.recentlyPlayedTracks }) %>


    <article class="page custom-scrollbar" data-page>

    <!--
       - TOP APP BAR
     -->
        <%- include("../partials/top-bar", locals.currentProfile) %>

    <!--
      - BOTTOM NAV
     -->
        <%- include("../partials/bottom-nav", {currentRoute: "/album" }) %>


        <div class="main" data-main>
            <section class="section">
                <div class="title-wrapper">
                    <h2 class="title-large section-title"><%= locals.title %></h2>
                </div>
    
                <div class="grid-list">
                    <% albumItems.forEach(({id, images, name: title, artists, release_date, album_type, uri}) => { %>
                        <% 
                            let year, text;
                            if(locals.isArtistAlbum) {
                                year = new Date(release_date).getFullYear();
                                text = album_type;
                            } else {
                                text = artists.map(({name}) => name).join(', ')
                            }

                            const image = images.find(item => item.width === 300)
                        %>

                        <%- include('../partials/card', {
                            image,
                            type: 'album', 
                            title,
                            year, 
                            text, 
                            link: `/album/${id}`
                        
                        }) %>
                    <% }) %>
                </div>

                <!--   
                    - #PAGINATION   
                -->
                <%- include("../partials/pagination", locals.albums) %>
            </section>
        </div>


    <!--
        - #PLAYER SM
    -->

        <%- include('../partials/player-sm') %>


    <!--
        - #PLAYER LG
    -->

        <%- include('../partials/player-lg') %>

    <!--
      - #FOOTER
    -->

        <%- include('../layouts/footer') %>
    </article>
</body>

</html>